<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8" /> -->
  <title>LOTR Quotes 🥳</title>

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bilbo&family=Cormorant+Unicase:wght@400;500;600&display=swap"
    rel="stylesheet">
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>One does not simply quote LOTR.</h1>

  <!-- action is WHERE to send the request -->
  <div class="top--section">
    <div class="top--card">
      <h3>Add your own quote</h3>
      <form action="/quotes" method="POST">
        <input type="text" placeholder="Author name..." name="name" />
        <input type="text" placeholder="Precious quote..." name="quote" />
        <button type="submit">Submit</button>
      </form>
    </div>
    <button class="new-quote"> ➕ Add random quote</button> <!-- Can delete or move later -->


  </div>

  <div class="bottom--section">
   
    
    <!-- <%= quotes %> -->
    <ul class="quotes">
      <h2>QUOTES:</h2>
      <!-- Loop through quotes -->

      <% for(var i=0; i < quotes.length; i++) {%>
        <li class="quote" id=<%=quotes[i]._id %> >
          <div class="quote-content">
            <!-- Output name from the iterated quote object -->
            <span class="character">
              <%= quotes[i].name %>
            </span>:
            <!-- Output quote from the iterated quote object -->
            <span class="character--quote">
              <%= quotes[i].quote %>
            </span>            
          </div>
          <div>
            <button class="individual-delete"><span><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            <button class="update-button"><span><i class="fas fa-edit"></i></span></button>
          </div>
        </li>
        
        <% } %>
    </ul>
  </div>




  <script src="/main.js"></script>
</body>

</html>


