html,
body {
  height: 100%;
}

html {
  font-size: 125% !important;
  line-height: 1.4 !important;
  font-family: Helvetica;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1511813246609-8057aed99883?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80");


  height: 100%;
  width: 100%;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-color: #143129;
} 

form{
  display: flex;
  flex-direction: column;
}

.top--card h3{
  text-align: center;
  
}

form button{
  background-color: #baffa0;
  border-radius: 6px;
  margin-top: 5px;
}

h1{
  text-align: center;
  background-color: #4b6b56;
  font-family: 'Bilbo', cursive;
}

.new-quote{
  /* width: 150px; */
  height: 50px;
  background-color: #baffa0;
  border-radius: 6px;
  margin-top: 10px;
}

.top--section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.top--section > div{
  width: 50%;
}

.character, .character--quote{
  font-family: 'Cormorant Unicase', serif;

}

.top--card, .quotes{
  border: 2px solid goldenrod;
  border-radius: 6px;
  padding: 10px;
  background-color: #143129;
}

.quote{
  background-color: #4b6b56;
  border: 1px solid white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

.individual-delete{
  float: right;
}

.quote{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character{
  font-size: 1.2rem;
}

.character--quote{
  font-size: 16px;
}


.quotes h2{
  font-family: 'Bilbo', cursive;
}

.quote-content{
  max-width: 80%;
}

.quotes{
  width: 90vw;
  margin: 0 auto;
  margin-top: 10px;
  opacity: .95;
}

.individual-delete, .update-button {
  width: 50px;
  height: 100%;
  margin-left: 10px;
  background-color: #a45454;
  color: white;
  border-radius: 6px;
  padding: 10px;
}

.edit--button{
  width: 100%;
  height: 100%;
  margin-left: 10px;
  background-color: #a45454;
  color: white;
  border-radius: 6px;
  padding: 10px;
}

.individual-delete > span, 
.update-button > span{
  pointer-events: none;
}

/* Edit modal */
.modal{
  color: black;
}

.character-image{
  height: 50px;
  width: 50px;
  border-radius: 6px;
  border: 1px solid goldenrod;
}